<ion-view title="Bruce Banner" id="page16">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="bruceBanner-markdown9" class="show-list-numbers-and-dots"></div>
    <div id="bruceBanner-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filler text about me</p>
    </div>
  </ion-content>
</ion-view>