<ion-view title="Create Event" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="createEvent-form2" class="list">
      <h1 id="createEvent-heading1" style="color:#000000;text-align:center;">Event name</h1>
      <label class="item item-input" id="createEvent-input3">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h1 id="createEvent-heading2" style="color:#000000;text-align:center;">Location</h1>
    <form id="createEvent-form3" class="list">
      <label class="item item-input" id="createEvent-input4">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h1 id="createEvent-heading3" style="color:#000000;text-align:center;">Time</h1>
    <form id="createEvent-form4" class="list">
      <label class="item item-input" id="createEvent-input5">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <h1 id="createEvent-heading4" style="color:#000000;text-align:center;">Description</h1>
      <label class="item item-input" id="createEvent-textarea1">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
      <button id="createEvent-button3" class="button button-balanced  button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>