<ion-view title="Events" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="events-list2">
      <ion-item class="item-thumbnail-left" id="events-list-item1" ui-sref="tabsController.event1">
        <h2>Event # 1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="events-list-item2" ui-sref="tabsController.event2">
        <h2>Event # 2</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>