<ion-view title="Event #1" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="event12-form9" class="list">
      <ion-toggle toggle-class="toggle-positive" id="event12-toggle4">Present</ion-toggle>
      <ion-item class="item-avatar" id="event12-list-item14" ui-sref="tabsController.tonyStark">
        <h2>Tony Stark</h2>
      </ion-item>
      <ion-item class="item-avatar" id="event12-list-item15" ui-sref="tabsController.bruceBanner">
        <h2>Bruce Banner</h2>
      </ion-item>
      <ion-item class="item-avatar" id="event12-list-item16" ui-sref="tabsController.peterParker">
        <h2>Peter Parker</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>