<ion-view title="Event # 2" id="page12">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="event2-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Description:</p>
    </div>
    <h1 id="event2-heading8" style="color:#000000;font-weight:300;">Present: </h1>
    <ion-list id="event2-list4">
      <ion-item class="item-avatar" id="event2-list-item10">
        <h2>John Doe</h2>
      </ion-item>
      <ion-item class="item-avatar" id="event2-list-item11">
        <h2>Peter Parker</h2>
      </ion-item>
      <ion-item class="item-avatar" id="event2-list-item12" ui-sref="tabsController.bruceWayne">
        <h2>Bruce Wayne</h2>
      </ion-item>
      <ion-item class="item-avatar" id="event2-list-item13">
        <h2>Tony Stark</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>