<ion-view title="Event  # 1" id="page11">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="event1-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Description</p>
    </div>
    <h1 id="event1-heading6" style="color:#000000;font-weight:300;">Owner:</h1>
    <ion-list id="event1-list6">
      <ion-item class="item-avatar" id="event1-list-item18" ui-sref="tabsController.peterParker">
        <h2>Peter Parker</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.event12" id="event1-button4" class="button button-balanced  button-block">Check in</a>
  </ion-content>
</ion-view>