<ion-view title="My Profile" id="page10">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myProfile-card21">
      <ion-item class="item-avatar" id="myProfile-list-item8">
        <img src="img/goFogRtRTtOPrArgx5tF_Profile.jpg">
        <h2>John Doe</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/8VBpO0TeaZiXxH9yQvAj_Profile.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="myProfile-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Filler text about me: ksdajgbasdoguaodsugboasdubgasdogubasdougb
      </p>
    </div>
    <h1 id="myProfile-heading7" style="color:#000000;font-weight:300;">Events:</h1>
    <ion-list id="myProfile-list3">
      <ion-item class="item-thumbnail-left" id="myProfile-list-item9" ui-sref="tabsController.event2">
        <h2>Event # 2</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>