<ion-view title="Search" id="page9" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="search-heading5" style="color:#000000;font-weight:400;text-align:center;">Search users or groups</h3>
    <form id="search-form6" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>